<a href="https://colab.research.google.com/github/AyonRabbani/DeepLearning/blob/master/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np 
import math 

df = pd.read_csv('winequality-white.csv', sep=';')
cols = [col for col in df.columns if col != 'quality']

x = df[cols]
y = df.quality
xsamp = x[:500]
ysamp = y[:500]
xsamp

     fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0              7.0             0.270         0.36  ...  3.00       0.45      8.8
1              6.3             0.300         0.34  ...  3.30       0.49      9.5
2              8.1             0.280         0.40  ...  3.26       0.44     10.1
3              7.2             0.230         0.32  ...  3.19       0.40      9.9
4              7.2             0.230         0.32  ...  3.19       0.40      9.9
..             ...               ...          ...  ...   ...        ...      ...
495            5.7             0.440         0.13  ...  3.33       0.48     12.5
496            7.2             0.400         0.62  ...  3.08       0.49      8.6
497            6.8             0.230         0.32  ...  3.29       0.54     12.5
498            5.7             0.335         0.34  ...  3.27       0.66     10.0
499            7.2             0.400         0.62  ...  3.08       0.49      8.6

[500 rows x 11 columns]

In [4]:
class DecisionTree():
  def __init__(self, x, y, idxs = None):
    if idxs is None: idxs = np.arange(len(y))
    self.x, self.y, self.idxs = x, y, idxs 
    self.c, self.sample = x.shape[1], np.arange(len(idxs))
    self.Score = float('inf')
    self.val = np.mean(y[idxs]) 
    self.predictor_space()

  @property
  def split_name(self): return self.x.columns[self.var_col]

  @property
  def is_leaf(self): return self.Score == float('inf')

  def predictor_space(self):
    for i in range(self.c): self.find_space(i)
    if self.Score == float('inf'): return
    root = self.x.values[self.sample, self.var_col]
    #creating found space
    left_node = np.nonzero(root<=self.Split)[0]
    right_node = np.nonzero(root>self.Split)[0]
    self.left_node = DecisionTree(self.x, self.y, self.idxs[left_node])
    self.right_node = DecisionTree(self.x, self.y, self.idxs[right_node])

  def find_space(self, var_col): 
    x = self.x.values[self.sample, var_col]
    y = self.y.values[self.sample]

    for i in range(len(x)):
      left_node = x<=x[i]
      right_node = x>x[i]
      left_value = y[left_node].std()
      right_value = y[right_node].std()
      if math.isnan(right_value.sum()):
        continue
      curr_score = left_value * left_value.sum() + right_value * right_value.sum()
      if curr_score < self.Score: 
        self.Score, self.Split, self.var_col = curr_score, x[i], var_col
  
  def __repr__(self):
        s = f'n: {self.sample}; val:{self.val}'
        if not self.is_leaf:
            s += f'; score:{self.Score}; split:{self.Split}; var:{self.split_name}'
        return s
        

test = DecisionTree(xsamp,ysamp)

/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:217: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:186: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [5]:
test.right_node

n: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496]; val:5.808853118712274; score:0.7709846088282055; split:4.0; var:free sulfur dioxide

In [23]:
df.shape

(4898, 12)

In [24]:
len(df)

4898